<h1>Edit Profile</h1>
<form method="POST" action="/destinations/{{destinationId}}/profiles/{{profile._id}}?_method=PATCH">
  <div>
    <label for="name">Profile</label>
    <input type="text" name="name" value="{{profile.name}}">
  </div>
  <br>
  <div>
    <label for="location">location</label>
    <input type="text" name="location" value="{{profile.location}}">
  </div>
  <br>
  <div>
    <label for="phonenumber">Phone Number</label>
    <input type="number" name="phonenumber" value="{{profile.phonnumber}}">


    <button type="submit">Edit Profile</button>


</form>
<a href="/destinations/{{destinationId}}/profiles/{{._id}}">Go Back</a>