<h1>Edit Profile</h1>
<form method="POST" action="/destinations/{{destinationId}}/profiles/{{profile._id}}?_method=PATCH">
 <div>
    <label for="name">Profile</label>
    <input type="text" name="name" value="{{profile.name}}">
  </div>
  <br>
  <div>
    <label for="location">location</label>
    <input type="text" name="location" value="{{profile.location}}">
  </div>
  <br>
  <div>
    <label for="phonenumber">Phone Number</label>
    {{!-- <select name="destinations" selected="{{profile.destinations}}">
      <option value="fly">Fly</option>
      <option value="coach">Coach</option>
      <option value="train">Train</option>
      <option value="road">Roadtrip</option> --}}
    {{!-- </select> --}}
  </div>
  {{!-- <div>
    <label for="quantitySold">Quantity Sold</label>
    <input type="text" name="quantitySold" value="{{soda.quantitySold}}">
  </div> --}}
  
  <button type="submit">Edit Profile</button>
  

</form>
<a href="/destinations/{{destinationId}}/profiles/{{._id}}">Go Back</a>