<h1>{{profile.name}} Member Profiles</h1>

{{#each profiles}}
<div>
  <a href="/destinations/{{../destinations._id}}/profiles/{{_id}}">{{name}}</a>
  <br>
  <a href="/destinations/{{../destinations._id}}/profiles/{{_id}}">{{location}}</a>
  <br></br>
  <a href="/destinations/{{../destinations._id}}/profiles/{{_id}}">{{phonenumber}}</a>
  <br>
  <br>
  <img class="photostylepro" src="{{profiles.photo}}">
</div>
<br></br>
{{/each}}

<a href="/destinations/{{destination._id}}/profile/new">Become a Member</a>
<br></br>


<a href="/destinations/{{destination._id}}">Back To destinations page</a>

<br></br>
{{!-- {{#each profiles}} 
 <div>
  <a href="/destinations/{{../destination._id}}/profiles/{{_id}}">{{name}}</a>
</div>  {{/each}}  --}}



<a href="/destinations">All Destinations</a>
