<h1>{{profiles.name}} Memeber Profiles</h1>

{{#each profiles}}
  <div>
    <a href="/destinations/{{../destinations._id}}/profiles/{{_id}}">{{name}}</a>
  </div>
{{/each}}

<a href="/destinations/{{destination._id}}/profile/new">New Profile</a>
<a href="/destinations/{{destination._id}}">Back To Destination Page</a>


<h1>{{profile.name}}'s Profiles</h1>

{{#each profiles}}
  <div>
    <a href="/destinations/{{../destination._id}}/profiles/{{_id}}">{{name}}</a>
  </div>
{{/each}}

<a href="/destinations/{{destination._id}}/profiles/new">New Profile</a>
<a href="/destinations/{{destination._id}}">Back To Destination</a>