<h1>Edit {{destination.name}}</h1>
<form method="POST" action="/destinations/{{id}}?_method=PATCH">
  <div>
    <label for="name">Name of Destination</label>
    <input type="text" name="name" value="{{destination.name}}">
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" name="destination" value="{{destination.location}}">
  </div>

  <br>
  <div class="left-align">
                    <button class="btn waves-effect waves-light teal lighten-2" type="submit" name="action">Update Belgium
                        <i class="material-icons left">plane_flight</i>
                    </button>
                </div>
</form>
<br>

<div class="left-align ">
  <a class="waves-effect waves-light btn teal lighten-1 " <a href="/destinations/{{id}}">Back to Belgium {{destination.name}}
    <i class="material-icons left ">flight_takeoff</i>
  </a>
</div>