<h1>{{destination.name}}</h1>

<h3>{{destination.location}}</h3>
<ul>
  {{#each destination.profile}}
    <li>{{name}}</li>
  {{/each}}
</ul>
<a href="/destinations/{{destinationId}}/profile">Go To Profile Page</a>
<br>
<a href="/destinations/{{destinationId}}/edit">Edit {{destination.name}}</a>

<form action="/destinations/{{destination.id}}?_method=DELETE" method="post">
  <button type="submit">Delete {{destaintion.name}}</button>
</form>

<a href="/destinations">Back To All Destinations</a>